* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}


body {
    background-color: #f6f4f2;
}


#board {
    height: 90vh;
    width: 100vw;
}


footer {
    background-color: #f6f4f2;
    width: 100%;
    bottom: 0;
    position: fixed;
}


footer nav {
    padding: 1.2%;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
}


a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


a:link {
    color: #006e81;
}


a:visited {
    color: #006e81;
}


#results {
    font-size: 3em;
    position: fixed;
    left: 50%;
    top: 30%;
    padding: 2vh 2vw 2vh 2vw;
    transform: translate(-50%, -50%);
}

#retry {
    display: none;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 24px;
    padding: 16px 30px;
    text-decoration: none;
}
