*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}


body
{
    background-color: #F5F5F5;
    margin-left: 10px;
    margin-right: 10px;
}


h1
{
    color: #006e81;
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}


form
{
    display: flex;
    flex-flow: column wrap;
    min-width: 250px;
    padding: 10px;
    background-color: #D3D3D3;
    box-shadow: 2px 2px 3px rgb(100, 100, 100);
    margin-bottom: 30px;
    margin-top: 20px;
}


.parent
{
    display: flex;
    flex-flow: row wrap;
}


.parent > *
{
    flex: 1;
    flex-wrap: wrap;
}


input
{
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
    padding: 3px;
    margin: 10px;
}


input:invalid, input:placeholder-shown
{
    caret-color: red;
    border-bottom: 1px solid red;
}


button
{
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 2px rgb(100, 100, 100);
    border: none;
    border-radius: 5%;
    padding: 5px;
    text-transform: uppercase;
}


button:hover
{
    background-color: rgb(158, 158, 158);
}


td
{
    text-align: center;
    padding: 7px;
    color: #006e81;
}

th{
    color: #006e81;
}


tr
{
    border-top: solid black 1px;
}


main
{
    display: flex;
    flex-flow: column nowrap;
    min-width: 500px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(100, 100, 100);
    margin-bottom: 30px;
}
