*{
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}


body
{
    background-color: #F5F5F5;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
}


#buttons
{
    text-align: center;
}

#game-button
{
    border-radius: 50%;
    width: 200px;
    background: linear-gradient(to bottom right,  rgba(59,255,206,1) , rgba(137,125,242,1));
    border: none;
    padding: 60px;
    margin: 20px;
    color: white;
    font-size: 24px;
    opacity: 1;
    transition: 0.6s;
}


#game-button:hover
{
    opacity: 0.7;
}


header nav p
{
    margin-top: 200px;
    font-size: 30px;
    text-align: center;
}
