/* Styles généraux */

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}


/* Style titre + présentation */

header{
    background-color: #f6f4f2;
    color: #006e81;
    padding-top: 2%;
}

#presentation{
    font-size: 1em;
    padding-top: 0.8%;
    padding-bottom: 2%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h1{
    font-size: 2.2em;
    text-align: center;
}


/* Style appliqué aux boutons de jeu + au footer */

.games{
    background-color: #f6f4f2;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}


/* Style sur les boutons de jeu */

.game{
    background-color: #425664;
    color: white;
    flex: 0 0 auto;
    width: 400px;
    height: 500px;
    margin: 20px;
    transition: 0.6s;
}


.game:hover{
    transform:scale(1.1, 1.1)
}


.game-title{
    font-size: 40px;
    margin: 100px 20px 20px;
}


.game-presentation{
    font-size: 20px;
    margin: 10px 20px 20px;
}


.game-button-parent{
    text-align: center;
}


.game-button{
    margin: 50px;
    font-size: 24px;
    padding: 16px 30px;
    text-decoration: none;
    color: #006e81;
    background-color: #f6f4f2;
    transition: all 0.6s;
    cursor: pointer;
    opacity: 0.8;
}


.game-button span{
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.game-button:hover span{
    padding-right: 20px;
}


.game-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
}


.game-button:hover span:after{
    opacity: 1;
    right: 0;
}


.game-button:hover{
    opacity: 1;
}


/* Style du footer */

footer{
    background-color: #f6f4f2;
    width: 100%;
    bottom: 0;
}

footer nav{
    padding: 1.2%;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
}

a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #006e81;
}

a:visited {
    color: #006e81;
}

main{
    background-color: #f6f4f2;
    padding: 50px;
}

main div{
    max-width: 1030px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
}

main h1{
    padding: 20px;
    font-size: 50px;
    color: #006e81;
}

.game-suggestion-button-parent{
    text-align: center;
}


.game-suggestion-button{
    margin: 20px;
    font-size: 24px;
    padding: 16px 30px;
    text-decoration: none;
    background-color: #006e81;
    color: white;
    transition: all 0.6s;
    cursor: pointer;
    opacity: 0.8;
}


.game-suggestion-button span{
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.game-suggestion-button:hover span{
    padding-right: 20px;
}


.game-suggestion-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
}


.game-suggestion-button:hover span:after{
    opacity: 1;
    right: 0;
}


.game-suggestion-button:hover{
    opacity: 1;
}