*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: #f6f4f2;
}

/* Style de la zone textuelle du haut */

header{
    padding-top: 0.8%;
    padding-bottom: 1.6%;
    background-color: #f6f4f2;
    color: #006e81;
}

p{
    padding-top: 0.8%;
    text-align: center;
}


/* Style résultats */

#resultats{
    font-size: 5em;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 2vh 2vw 2vh 2vw;
    transform: translate(-50%, -50%);
}

/* Style du bouton */

main{
    position: relative;
    height:82vh;
}

#CLICK {
    background-color: #89b6f0;
    box-shadow: 0;
    font-size: 0.6em;
    padding: 4px;
    border: 2px solid #33445a;
    position: absolute;
    top: 50%;
    left: 50%;
}

#CLICK:hover{
    border: 2px solid #89b6f0;
    background-color: #6585af;
}


/* Style du footer */

footer{
    background-color: #f6f4f2;
    color: #006e81;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer nav{
    padding: 1.2%;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
}

a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #004585;
}

a:visited {
    color: #006e81;
}